swagger: '2.0'
info:
  description: API Orders Service
  version: 1.0.0
  title: API Orders Service
  termsOfService: ''
  contact:
    email: caotri1242001@gmail.com
host: api.127.0.0.1.xip.ip
basePath: /api/v1
tags: []
schemes:
  - http
  - https
consumes:
  - application/json
produces:
  - application/json

paths:
  /health/ping:
    get:
      x-swagger-router-controller: health
      operationId: ping
      description: Endpoint for health checking
      tags:
        - health
      responses:
        '200':
          description: Pong
          schema:
            type: object
            items:
              $ref: '#/definitions/Pong'
  /health/stats:
    get:
      x-swagger-router-controller: health
      operationId: system stats
      tags:
        - health
      responses:
        '200':
          description: Pong
          schema:
            type: object
            items:
              $ref: '#/definitions/Pong'
  /product:
    post:
      x-swagger-router-controller: product
      operationId: create
      description: Create new product
      tags:
        - ERP-product
      parameters:
        - in: body
          name: product
          description: Data product
          schema:
            $ref: '#/definitions/Product'
      responses:
        '200':
          description: Pong
          schema:
            type: object
            items:
              $ref: '#/definitions/Pong'
    get:
      x-swagger-router-controller: product
      operationId: search
      description: Search product
      tags:
        - ERP-product
      parameters:
        - name: code
          type: string
          in: query
          required: false
        - name: name
          type: string
          in: query
          required: false
        - name: status
          type: string
          in: query
          required: false
        - name: page
          type: string
          in: query
          required: false
        - name: limit
          type: string
          in: query
          required: false
      responses:
        '200':
          description: Pong
          schema:
            type: object
            items:
              $ref: '#/definitions/Pong'
  /product/{uid}:
    put:
      x-swagger-router-controller: product
      operationId: update
      description: Update product by Id
      tags:
        - ERP-product
      parameters:
        - name: uid
          type: string
          in: path
          required: true
        - in: body
          name: product
          description: Data product
          schema:
            $ref: '#/definitions/Product'
      responses:
        '200':
          description: Pong
          schema:
            type: object
            items:
              $ref: '#/definitions/Pong'
    delete:
      x-swagger-router-controller: product
      operationId: delete
      description: Delete Product By Id
      tags:
        - ERP-product
      parameters:
        - name: uid
          type: string
          in: path
          required: true
      responses:
        '200':
          description: Pong
          schema:
            type: object
            items:
              $ref: '#/definitions/Pong'
    get:
      x-swagger-router-controller: product
      operationId: view
      description: View product
      tags:
        - ERP-product
      parameters:
        - in: path
          name: uid
          required: true
          type: string
      responses:
        '200':
          description: Pong
          schema:
            type: object
            items:
              $ref: '#/definitions/Pong'
  /product/status/{uid}:
    put:
      x-swagger-router-controller: product
      operationId: status
      description: Status product by id
      tags:
        - ERP-product
      parameters:
        - name: uid
          type: string
          in: path
          required: true
        - in: body
          name: product
          description: Data product
          schema:
            $ref: '#/definitions/Status'
      responses:
        '200':
          description: Pong
          schema:
            type: object
            items:
              $ref: '#/definitions/Pong'
  /productType:
    post:
      x-swagger-router-controller: productType
      operationId: create
      description: Create new productType
      tags:
        - ERP-productType
      parameters:
        - in: body
          name: productType
          description: Data productType
          schema:
            $ref: '#/definitions/ProductType'
      responses:
        '200':
          description: Pong
          schema:
            type: object
            items:
              $ref: '#/definitions/Pong'
    get:
      x-swagger-router-controller: productType
      operationId: search
      description: Search productType
      tags:
        - ERP-productType
      parameters:
        - name: code
          type: string
          in: query
          required: false
        - name: name
          type: string
          in: query
          required: false
        - name: status
          type: string
          in: query
          required: false
        - name: page
          type: string
          in: query
          required: false
        - name: limit
          type: string
          in: query
          required: false
      responses:
        '200':
          description: Pong
          schema:
            type: object
            items:
              $ref: '#/definitions/Pong'
  /productType/{uid}:
    put:
      x-swagger-router-controller: productType
      operationId: update
      description: Update productType by Id
      tags:
        - ERP-productType
      parameters:
        - name: uid
          type: string
          in: path
          required: true
        - in: body
          name: productType
          description: Data productType
          schema:
            $ref: '#/definitions/ProductType'
      responses:
        '200':
          description: Pong
          schema:
            type: object
            items:
              $ref: '#/definitions/Pong'
    delete:
      x-swagger-router-controller: productType
      operationId: delete
      description: Delete ProductType By Id
      tags:
        - ERP-productType
      parameters:
        - name: uid
          type: string
          in: path
          required: true
      responses:
        '200':
          description: Pong
          schema:
            type: object
            items:
              $ref: '#/definitions/Pong'
    get:
      x-swagger-router-controller: productType
      operationId: view
      description: View productType
      tags:
        - ERP-productType
      parameters:
        - in: path
          name: uid
          required: true
          type: string
      responses:
        '200':
          description: Pong
          schema:
            type: object
            items:
              $ref: '#/definitions/Pong'
  /productType/status/{uid}:
    put:
      x-swagger-router-controller: productType
      operationId: status
      description: Status productType by id
      tags:
        - ERP-productType
      parameters:
        - name: uid
          type: string
          in: path
          required: true
        - in: body
          name: productType
          description: Data productType
          schema:
            $ref: '#/definitions/Status'
      responses:
        '200':
          description: Pong
          schema:
            type: object
            items:
              $ref: '#/definitions/Pong'
  /customer:
    post:
      x-swagger-router-controller: customer
      operationId: create
      description: Create new customer
      tags:
        - ERP-customer
      parameters:
        - in: body
          name: customer
          description: Data customer
          schema:
            $ref: '#/definitions/Customer'
      responses:
        '200':
          description: Pong
          schema:
            type: object
            items:
              $ref: '#/definitions/Pong'
    get:
      x-swagger-router-controller: customer
      operationId: search
      description: Search Customer
      tags:
        - ERP-customer
      parameters:
        - name: code
          type: string
          in: query
          required: false
        - name: name
          type: string
          in: query
          required: false
        - name: status
          type: string
          in: query
          required: false
        - name: page
          type: string
          in: query
          required: false
        - name: limit
          type: string
          in: query
          required: false
      responses:
        '200':
          description: Pong
          schema:
            type: object
            items:
              $ref: '#/definitions/Pong'
  /customer/{uid}:
    put:
      x-swagger-router-controller: customer
      operationId: update
      description: Update Customer by Id
      tags:
        - ERP-customer
      parameters:
        - name: uid
          type: string
          in: path
          required: true
        - in: body
          name: customer
          description: Data productType
          schema:
            $ref: '#/definitions/Customer'
      responses:
        '200':
          description: Pong
          schema:
            type: object
            items:
              $ref: '#/definitions/Pong'
    delete:
      x-swagger-router-controller: customer
      operationId: customer
      description: Delete Customer By Id
      tags:
        - ERP-customer
      parameters:
        - name: uid
          type: string
          in: path
          required: true
      responses:
        '200':
          description: Pong
          schema:
            type: object
            items:
              $ref: '#/definitions/Pong'
    get:
      x-swagger-router-controller: customer
      operationId: view
      description: View customer
      tags:
        - ERP-customer
      parameters:
        - in: path
          name: uid
          required: true
          type: string
      responses:
        '200':
          description: Pong
          schema:
            type: object
            items:
              $ref: '#/definitions/Pong'
definitions:
  Pong:
    type: object
  ApiResponse:
    type: object
    properties:
      code:
        type: integer
        format: int32
        description: Error's code
      type:
        type: string
        description: Error's type
      message:
        type: string
        description: Error's message
  Product:
    type: object
    properties:
      name:
        type: string
        example: Cao Trí
      price:
        type: number
        example: 3000
      status:
        type: boolean
        example: true
      discount:
        type: number
        example: 10
      discountPrice:
        type: number
        example: 2700
      expiryDate:
        type: number
        example: 24
      productType:
        type: string
        example: 01FX2F9X4V97A9Q3RCX98AR3TB
      brand:
        type: string
        example: 01FX2F9X4V97A9Q3RCX98AR3TB
      image:
        type: array
        items:
          type: string
      descriptionSummary:
        type: string
        example: Sản phẩm thuộc thương hiệu ...
      descriptionDetail:
        type: array
        items:
          type: object
          properties:
            name:
              type: string
            description:
              type: string
      quantity:
        type: number
        example: 100
  Status:
    type: object
    properties:
      status:
        type: boolean
  ProductType:
    type: object
    properties:
      code:
        type: string
        example: NSTest65444
      name:
        type: string
        example: Cao Trí
      status:
        type: boolean
        example: true
  Customer:
    type: object
    properties:
      username:
        type: string
        example: caotri1242001
      password:
        type: string
        example: caotri1242001
      firstName:
        type: string
        example: Long
      lastName:
        type: string
        example: Luong
      dateOfBirth:
        type: string
        example: 2021-08-27T07:11:10.826Z
        description: Ngay sinh
      sex:
        type: string
        example: male
      phone:
        type: string
        example: 0393506999
      email:
        type: string
        example: caotri1242001@gmail.com
      status:
        type: boolean
        example: true
      avatar:
        type: string
        example: 'dsfdsaf.jpg'
      address:
        type: array
        items:
          type: object
          properties:
            street:
              type: string
            province:
              type: string
            district:
              type: string
            ward:
              type: string
            status:
              type: boolean
